h1 {
    text-align: center;
}

input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    margin-right: 9rem;
    margin-bottom: 9rem;
}

main {
    margin-top: 44rem;
}

hr {
    border: none;
    height: 1px;
    background-color: #e4e4ec;
}

textarea {
    resize: vertical;
    box-sizing: border-box;
    /* max-width: 466px; */
    width: 100%;
    max-height: 205rem;
    min-height: 105rem;
    margin-bottom: 12rem;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    outline: none;
    transition: all .3s ease;
}

textarea:focus {
    border-color: #fd8300;
    box-shadow: 0 0 2.5px rgb(253, 131, 0);
}

form {
    width: 100%;
    /* max-width: 480px; */
}

form input::placeholder {
    font-size:  13rem;
}

input:not([type="checkbox"]) {
    transition: all .3s ease;
    outline: none;
}

input:not([type="checkbox"]):focus {
    border-color:#fd8300;
    box-shadow: 0 0 2.5px rgb(253, 131, 0);
}

form button {
    width: 140rem;
    height: 41rem;
    border-radius: 21px;
    border: none;
    background-color: #fd8300;
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    transition: all .3s ease;
}

form button:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fd8300;
}

.flex {
    display: flex;
}

.infocontacts {
    flex-wrap: wrap;
    padding-bottom: 35rem;
    display: flex;
    justify-content: center;
    column-gap: 45rem;
    row-gap: 30rem;
}

.contactsname {
    padding-bottom: 8rem;
    font-size: 14rem;
    line-height: 1.7em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.contactssubname {
    padding-bottom: 8rem;
    font-size: 14rem;
    line-height: 1.5em;
    color: #666666;
    font-family: "Arial";
}

.contacts_number {
    padding-bottom: 5rem;
    font-size: 18rem;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.contactssubname1 {
    max-width: 180rem;
}

.contactsemail {
    font-size: 16rem;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.map {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 370rem;
}

.map iframe {
    width: 100%;
    height: 100%;
    top: -75px;
    border: none;
    position: absolute;
}

.razdelitel {
    margin-bottom: 36rem;
}

.block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20rem;
}

form p {
    font-size: 14rem;
    line-height: 1.7em;
    text-align: left;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.tema {
    /* height: 40px; */
    padding-bottom: 9rem;
}

.tema input {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.input-text-1 {
    width: 228rem;
    height: 40rem;
}

.down {
    display: flex;
    align-items: center;
    column-gap: 29rem;
    flex-wrap: wrap;
    row-gap: 20rem;
}

.down button {
    width: 100%;
}

.checkbox_span {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    z-index: 1;
    margin-bottom: 14rem;
}

.checkboxlabel {
    font-size: 13rem;
}

.checkbox_span input {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
    appearance: none;
    width: 7px;
    height: 10px;
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    z-index: 2;
    transition: all .3s ease;
}

#checkbox:checked {
    border-color: #25252c;
}

.custom_checkbox {
    padding-top: 11rem;
    display: flex;
    column-gap: 10rem;
}

.input-text-1-block {
    width: 100%;
}

.input_block {
    column-gap: 9rem;
    flex-wrap: wrap;
}

.input-text-1-block input {
    border-radius: 3px;
    border: 1px solid #c5c5d4;
    width: 100%;
}

.form input:not([type="checkbox"]),
textarea {
    box-sizing: border-box;
    padding: 16rem;
}

.form textarea {
    font-size: 13rem;
    line-height: 1.6em;
    color: #9999a6;
    font-style: italic;
    font-family: "Arial";
}

.form p {
    padding-bottom: 11rem;
}

.popup {
    padding: 27rem;
}

.button_p {
    padding-top: 20rem;
    justify-content: center;
    width: 100%;
}

.input_p {
    width: 310rem;
}

.contactsContainer {
    justify-content: center;
    row-gap: 30rem;
    flex-wrap: wrap;
    display: flex;
    column-gap: 45rem;
}

.ofis, .konsultation, .rekvizits {
    width: 254rem;
}

header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

@media screen and (min-width: 583px) {
    .contactsContainer > .ofis, .contactsContainer > .konsultation, .infocontacts > .rekvizits {
        width: auto;
    }
}

@media screen and (min-width: 868px) {
    .infocontacts > .rekvizits {
        width: 254rem;
    }

    .contactsContainer {
        justify-content: flex-start;
        column-gap: 60rem;
    }

    .infocontacts {
        justify-content: flex-start;
        column-gap: 110rem;
    }

    h1 {
        text-align: left;   
    }
}

@media screen and (min-width: 768px) {
    .down {
        flex-wrap: nowrap;
    }

    form {
        width: auto;
    }

    .block {
        flex-wrap: nowrap;
        column-gap: 20rem;
    }

    .map {
        width: 466rem;
    }

    .down button {
        width: auto;
        padding: 10rem 20rem;
    }
}