body {
    cursor: url('../cursors/cursor.cur'), auto;
}

a {
    cursor: url('../cursors/tet.cur'), auto;
}

input {
    width: 100%;
}

td+td {
    text-align: center;
    border-left: 1px solid #cdcddd;
}

th {
    border: 1px solid #274569;
}

tr {
    transition: all .3s ease;
}

tr+tr {
    border-top: 1px solid #cecedd;
}

tbody tr:hover {
    background-color: #fd8300;
}

tbody tr:hover>td {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}

th {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    width: 960px;
    height: 70px;
    background-color: #1f1f56;
}

tbody {
    background-color: #e4e4ec;
}

td {
    transition: all .4s ease;
    height: 41px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

article {
    padding-bottom: 33px;
}

tr:has(td) {
    cursor: url('../cursors/tet.cur'), auto;
}

button {
    cursor: url('../cursors/tet.cur'), auto;
}

.header {
    padding: 0;
}

.nav-social {
    padding: 16px 0;
}

.contacts2 {
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.h1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
}

.p {
    padding-bottom: 27px;
    max-width: 842px;
    max-height: 56px;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}

.td1 {
    padding-left: 20px;
    text-align: left;
}

.td2 {
    padding-right: 20px;
    text-align: right;
}

.information {
    padding: 25px 0;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.article_a {
    font-size: 14px;
    line-height: 24px;
    color: #fd8300;
    font-weight: bold;
}

.article_a:hover {
    text-decoration: underline;
}

.hr5 {
    margin-bottom: 31px;
    width: 960px;
    height: 1px;
    background-color: #e4e4ec;
    border: none;
}

.submenu {
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
    min-width: 136px;
    max-height: 130pxb;
    border-radius: 3px;
    background-color: #e4e4ec;
    display: none;
    position: absolute;
}

.submenu::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 0;
    width: 100%;
    border: 5px solid transparent;
}

.menu:hover>.submenu {
    display: block;
}

.menu {
    padding: 16px 0;
}

.menu1 {
    position: relative;
}

.test_menu {
    background: none;
    width: 105px;
    height: 13px;
}

.submenu li {
    padding: 5px 0;
    border-bottom: 1px solid #cecedd;
}

.submenu li>a {
    font-size: 12px;
    letter-spacing: 2px;
    color: #25252c;
    font-family: "Arial";
}

.submenu li:last-child {
    border: none;
}

.test {
    padding: 10px 5px;
    line-height: 0;
}

.submenu li:hover>.test:after {
    transform: translateY(-50%) rotate(135deg) scale(0.8);
    border-color: #fff;
}

.submenu li:hover>a {
    color: #fff;
}

.submenu li:hover {
    background-color: #fd8300;
}

.submenu2 {
    position: absolute;
    display: none;
    border-radius: 3px;
    top: 0;
    left: calc(100% + 5px);
    color: #000;
    background-color: #e4e4ec;
    min-width: 136px;
    min-height: 115px;
}

.submenu2:before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    border-left: 8px solid transparent;
    height: 100%;
}

.submenu2_activator {
    position: relative;
}

.submenu2_activator:hover .submenu2 {
    display: block;
}

.test_menu2 {
    right: -10px;
    position: absolute;
    width: 10px;
    top: 95px;
    height: 120px;
    background: none;
}

.menu-items {
    padding: 0 10px;
    color: #000;
}

.table {
    border-radius: 3px;
    overflow: hidden;
}

.black {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9998;
}

.btn button {
    position: relative;
    z-index: 9;
}

/* .popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    max-width: 360px;
    max-height: 238px;
    padding: 27px 0px 27px 42px;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 5px;
    background-color: #fff;
} */

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.up_text {
    padding-bottom: 18px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

/* .popup input {
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    padding-left: 11px;
    font-family: "Arial";
    min-width: 300px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
} */

.send {
    width: 100%;
    border-radius: 22px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.input_name {
    margin-bottom: 10px;
}

.input_phone {
    margin-bottom: 23px;
}