body {
    cursor: url('../cursors/cursor.cur'), auto;
}

a {
    cursor: url('../cursors/tet.cur'), auto;
}

input {
    width: 100%;
}

td+td {
    text-align: center;
    border-left: 1px solid #cdcddd;
}

th {
    border: 1px solid #274569;
}

tr {
    transition: all .3s ease;
}

tr+tr {
    border-top: 1px solid #cecedd;
}

tbody tr:hover {
    background-color: #fd8300;
}

tbody tr:hover>td {
    font-size: 14rem;
    line-height: 1.7em;
    color: #fff;
}

th {
    font-size: 14rem;
    line-height: 1.7em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    width: 960rem;
    height: 70rem;
    background-color: #1f1f56;
}

tbody {
    background-color: #e4e4ec;
}

td {
    transition: all .4s ease;
    height: 41rem;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666;
}

article {
    padding-bottom: 33rem;
}

tr:has(td) {
    cursor: url('../cursors/tet.cur'), auto;
}

button {
    cursor: url('../cursors/tet.cur'), auto;
}

.header {
    padding: 0;
}

header {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.contacts2 {
    height: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.h1 {
    font-size: 24rem;
    line-height: 1em;
    color: #24242b;
}

.p {
    padding-bottom: 27rem;
    font-size: 14rem;
    line-height: 1.7em;
    color: #666;
}

.td1 {
    padding-left: 20rem;
    text-align: left;
}

.td2 {
    padding-right: 20rem;
    text-align: right;
}

.information {
    padding: 25rem 0;
    font-size: 13rem;
    line-height: 1.6em;
    color: #666666;
    font-family: "Arial";
}

.article_a {
    font-size: 14rem;
    line-height: 1.7em;
    color: #fd8300;
    font-weight: bold;
}

.article_a:hover {
    text-decoration: underline;
}

.hr5 {
    margin-bottom: 31rem;
    height: 1px;
    background-color: #e4e4ec;
    border: none;
}

.menu1 {
    position: relative;
}

.test_menu {
    background: none;
    width: 105px;
    height: 13px;
}

.table {
    border-radius: 3px;
}

.black {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9998;
}

.btn button {
    position: relative;
    z-index: 9;
}

/* .popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    max-width: 360px;
    max-height: 238px;
    padding: 27px 0px 27px 42px;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 5px;
    background-color: #fff;
} */

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.up_text {
    padding-bottom: 18px;
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

/* .popup input {
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    padding-left: 11px;
    font-family: "Arial";
    min-width: 300px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
} */


.input_name {
    margin-bottom: 10px;
}

.input_phone {
    margin-bottom: 23px;
}