@font-face {
    font-family: 'Roboto Slab';
    src: url('../Fonts/RobotoSlab-Bold.woff2') format('woff2'),
        url('../Fonts/RobotoSlab-Bold.woff') format('woff'),
        url('../Fonts/RobotoSlab-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Regular.woff2') format('woff2'),
        url('RobotoSlab-Regular.woff') format('woff'),
        url('RobotoSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('RobotoSlab-Medium.woff2') format('woff2'),
        url('RobotoSlab-Medium.woff') format('woff'),
        url('RobotoSlab-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial";
    cursor: url('../cursors/cursor.cur'), auto;
}

ul {
    list-style-type: none;
}

button[type="submit"] {
    padding: 8px 0;
    border: none;
}

form p {
    max-width: 300px;
}

input {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: url('../cursors/tet.cur'), auto;
}


button {
    cursor: url('../cursors/tet.cur'), auto;
}

.hr1 {
    width: 100%;
    border-top: 1px #000;
    margin-bottom: 31px;
}

.wrapper {
    padding: 0 15px;
    margin: 0 auto;
    max-width: 960px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #1f1f56;
    /* max-height: 55px; */
    padding: 16px 0;
    /* position: fixed; */
    width: 100%;
    z-index: 999;
}

.header .nav_wrapper {
    display: flex;
    justify-content: center;
    /* padding-bottom: 15px; */
}

.nav_wrapper ul li {
    padding-bottom: 10px;
}


.header>.header_wrap>nav>.nav_wrapper>ul>li>a {
    color: #b1b1d2;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all .3s ease;
}

.header a:hover {
    color: #fd8300;
}

/* .nav {
    display: flex;
    column-gap: 26px;
} */

svg {
    fill: #fff;
    transition: all .3s ease;
}

svg:hover {
    fill: #fd8300;
}

.contacts {
    padding: 27px 0;
    background-color: #fff;
    /* padding-top: 84px; */
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 15px;
    column-gap: 40px;
}

.contacts>p {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
}

.contacts button {
    width: 200px;
    height: 51px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    transition: all .3s ease;
}

.contacts button:hover {
    background-color: #ededf5;
}

.contacts button:active {
    color: #fff;
}

.contacts button:active {
    background-color: #fd8300;
}

.mail,
.skype {
    column-gap: 11px;
    display: flex;
}

.mail img {
    width: 18px;
    height: 13px;
}

.skype img {
    width: 18px;
    height: 19px;
}

.phone a {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
}

.mail a,
.skype a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
}

.palka {
    width: 1px;
    height: 51px;
    background-color: #e4e4ec;
}

button {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
}

.adv {
    background: #000 url('../img/img1.png') no-repeat center/cover;
    width: 100%;
}

.adv div {
    max-width: 610px;
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
}

.main {
    padding-top: 43px;
    margin-bottom: 50px;
    display: flex;
    column-gap: 28px;
    flex-wrap: wrap-reverse;
}

.main-text {
    max-width: 669px;
    text-align: center;
}

h1 {
    padding-bottom: 18px;
    font-family: 'Roboto Slab';
}

.t1 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: flex;
    justify-content: center;
}

.t2 {
    font-size: 14px;
    line-height: 1.7em;
    color: #fff;
    text-align: center;
    padding: 12px 0;
}

.t3 {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.t4 {
    font-size: 24px;
    color: #fd8300;
    font-weight: bold;
}

.text1 {
    padding-bottom: 14px;
}

.text2,
.text1 {
    font-size: 14px;
    line-height: 1.7em;
    color: #666;
}

.link {
    padding-top: 28px;
    margin-bottom: 34px;
}

.link a {
    font-size: 14px;
    line-height: 1.7em;
    color: #fd8300;
    font-weight: bold;
}

.p1 {
    font-size: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin-bottom: 25px;
    text-align: center;
}

.homes img {
    transition: all .3s ease;
}

.homes img:hover {
    transform: scale(1.05);
}

.homes {
    display: flex;
    justify-content: center;
    column-gap: 28px;
    flex-wrap: wrap;
    row-gap: 15px;
}

.homes span {
    font-size: 13px;
    line-height: 1.4em;
    color: #9999a6;
}

.name1 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
}

.home2 img {
    height: 153px;
}

.name2 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
}

.name3 {
    font-size: 14px;
    line-height: 1.7em;
    color: #1f1f56;
    font-weight: bold;
}

.name1 a,
.name2 a,
.name3 a {
    color: #1f1f56;
}

.name1 a:hover,
.name2 a:hover,
.name3 a:hover,
.link a:hover {
    text-decoration: underline;
}

.info {
    background-color: #ededf5;
    padding: 28px 0;
}

.info .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
}

.aside aside {
    width: 100%;
}

.aside {
    width: 100%;
    justify-content: center;
    padding-bottom: 25px;
}

.navigation {
    min-width: 220px;
    position: sticky;
    top: 70px;
    overflow: hidden;
    border-radius: 3px;
}

.navigation p {
    padding: 11px 16px;
    font-size: 16px;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
}

.navigation>ul>li>a,
.sub-menu li>a {
    padding: 11px 16px;
}

.sub-menu {
    border: none;
    max-height: 0;
    visibility: hidden;
}

.navigation>ul>li:hover>.sub-menu {
    max-height: 1000px;
    visibility: visible;
    transition: max-height .5s ease;
}

.navigation>ul>li:hover>a {
    background-color: #fd8300;
    color: #fff;
}

.navigation a {
    display: block;
    font-size: 14px;
    line-height: 1.7em;
    color: #25252c;
    /* transition: all .5s ease; */
}

.navigation>ul>li {
    background-color: #e4e4ec;
}

.navigation>ul>li+li {
    border-top: 1px solid #cecedd;
}

.sub-menu li>a {
    padding-left: 30px;
    color: #666;
}

.sub-menu li:hover {
    background-color: #cecedd;
}

.a1 a,
.a2 a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666;
    transition: all .4s ease;
}

.a1 a:hover,
.a2 a:hover {
    color: #fd8300;
    text-decoration: underline;
}

.footer {
    padding: 13px 0;
    background-color: #dcdce6;
    text-align: center;
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
}

.phone-text-1 {
    padding-left: 11px;
}

.footer-wrapper {
    display: flex;
    column-gap: 100px;
}

.logo img {
    width: 17px;
    height: 17px;
}

.test {
    position: relative;
    display: block;
    padding: 10px 20px;
}

.test:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 12px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #666;
    border-right: 2px solid #666;
    transform: translateY(-50%) rotate(45deg) scale(0.8);
    transition: all .4s ease;
}

.navigation li:hover>.test:after {
    transform: translateY(-50%) rotate(135deg) scale(0.8);
    border-color: #fff;
}

.nav-social a {
    display: block;
    background: url(../img/Sprite.png) no-repeat;
}

a.fb {
    background-position: 0 -1px;
    width: 11px;
    height: 19px;
}

a.tw {
    background-position: -12px -3px;
    width: 19px;
    height: 17px;
}

a.in {
    background-position: -33px 0;
    width: 20px;
    height: 20px;
}

.nav-social {
    column-gap: 25px;
    justify-content: center;
}

a.tw:hover {
    background-position: -12px -25px;
}

a.in:hover {
    background-position: -33px -21px;
}

a.fb:hover {
    background-position: 0 -22px;
}

.icon {
    display: block;
    position: relative;
    padding-left: 11px;
}

.icon:before {
    content: "";
    position: absolute;
    display: inline-block;
    background: url(../img/Sprite.png) no-repeat;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
    transition: all .4s ease;
}

.logo a:before {
    background-position: -55px -2px;
    width: 17px;
    height: 17px;
}

.mail a:before {
    background-position: -95px -5px;
    width: 18px;
    height: 13px;
}

.skype a:before {
    background-position: -74px 0;
    width: 19px;
    height: 19px;

}

.skype:hover>a:before {
    background-position: -74px -21px;
}

.mail:hover>a:before {
    background-position: -95px -26px;
}

.phone p:hover a:before {
    background-position: -55px -23px;
}

.black {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9998;
}

.btn button {
    position: relative;
    z-index: 9;
}

.popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    max-width: 360px;
    max-height: 238px;
    padding: 27px 42px;
    transform: translateX(-50%);
    z-index: 9999;
    border-radius: 5px;
    background-color: #fff;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
}

.up_text {
    padding-bottom: 18px;
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.popup input {
    font-size: 13px;
    line-height: 21px;
    color: #9999a6;
    font-style: italic;
    padding-left: 11px;
    font-family: "Arial";
    min-width: 300px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.send {
    border-radius: 22px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.input_name {
    margin-bottom: 10px;
}

.input_phone {
    margin-bottom: 23px;
}

.thanks {
    text-align: center;
}

button.send {
    width: 100%;
    border-radius: 22px;
    background-color: #fd8300;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

@media screen and (min-width: 768px) {
    .main {
        flex-wrap: nowrap;
    }

    .main-text {
        text-align: left;
    }

    .aside {
        width: auto;
    }

    .info .wrapper {
        justify-content: space-between;
    }
}

@media screen and (min-width: 1000px) {
    .homes {
        flex-wrap: nowrap;
    }

    .contacts {
        justify-content: space-between;
    }
}

@media screen and (max-width: 390px) {
    .palka {
        display: none;
    }
}

@media screen and (min-width: 350px) {
    .info .phone {
        padding-right: 30px;
    }
}

ul,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.dark-bgc {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    z-index: 10;
}

.flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
}

.burger {
    width: 50px;
    height: 100%;
    cursor: pointer;
}

.bord {
    display: block;
    margin: 4px;
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: #fff;
    transition: all 1s ease;
}

.burger:hover>.b1 {
    transform: translateX(20px);
}

.burger:hover>.b2 {
    transform: translateX(10px);
}

.b1 {
    width: 20px;
}

.b2 {
    width: 30px;
}

.b3 {
    width: 40px;
    top: 10px;
}

.menu-burger {
    height: 100%;
    width: 150px;
    padding: 10px 15px;
    position: fixed;
    display: block;
    top: 0;
    left: -100%;
    z-index: 11;
    background-color: #1f1f56;
    transition: all .5s ease;
}

.menu-burger li:first-child {
    padding-top: 12px;
}

.cancel {
    position: absolute;
    top: 6px;
    right: 5px;
    cursor: pointer;
}

.cancel svg {
    width: 20px;
    height: 20px;
}

/* .top-line {
    padding: 15px 10px;
    background-color: pink;
  } */

.menu li {
    padding: 15px 10px;
}

@media screen and (min-width: 768px) {
    .burger {
        display: none;
    }

    .top-line {
        padding: 0 10px;
    }

    .menu-burger {
        padding: 0 0;
        /* height: auto; */
        width: 100%;
        position: static;
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        background-color: #1f1f56;
    }

    .menu li {
        padding: 15px 10px;
    }

    .cancel {
        display: none;
    }

    .menu-burger li:first-child {
        padding-top: 0px;
    }
}